.top-search{
    width:340px;
    background-color: #F4F4F4;
    
}
.fa-search{
    position: absolute;
    top: 13px;
    right: 18px;
}
.panda-bg-carousel{
    background-color: #FEEAE9;
}
.btn-panda{
    /* width: 168px;
    height: 52px; */
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
    font-size: 16px;
}
.category-col {
    border-radius: 8px;
    color: white;
}
.bg-cat-watch{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.bg-cat-bag{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.bg-cat-shoe{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.product-bg{
    background-color: #F4F4F4;
}
.btn-product{
    background: #000000;
    color: white;
    font-size: 16px;
    align-items: center;
}
.btn-product:hover{
    color: #f4f4f4be;
}
.subcribe-sec{
    background-color: #FFF2F1;
    height: 455px;
    border-radius: 10px;
}
.round-prodc-item{
    border-radius: 20px;
}
.round-carousel{
    border-radius: 10px;
}